
body{
	background: url(himgs/5.jpg);
	background-size: cover;
	background-position: center;
	}
html{
	height: 100%;	
}
.box1{
	text-align: center;
	padding-top:22%;
	color: black;
}
h1{
	font-family: 'Orbitron', sans-serif;

	color: black;
	font-weight: 700;
	font-size: 3.5em;

}
hr{
	border-color: black;
}

.button:hover{
	background-color:rgb(22,47,77);	
	color: white;
}

.button {
	font-family: Tahoma ,Geneva, sans-serif;
	text-decoration: none;

background:rgb(2,6,15);
margin: 10px;
padding: 7.5px 7.5px;
color: white;
border: none;
}
.but-text{
	font-family: 'Major Mono Display', monospace;
}
.but-brand-text{
	font-family: 'Orbitron', sans-serif;
	font-size: 30px;
	margin-bottom: 10px;
	color: black;
}
.nav-alignment{
	margin-top: 10px;
}
.iconspace{
	margin-right:10px; 
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-inverse .navbar-brand{
	color: white;

}

.navbar-inverse .navbar-brand:hover{
	 background-color:rgb(22,47,77);

}