body{ 
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background:rgb(1,141,175);
 }


/*------------nav+ footer------------------*/
.navbar-inverse{
	background-color: black;	
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
	padding: 30px;
}

.navbar-inverse .navbar-brand img{
		display: block;
	width: 15%;
	height:60px;
	background:black ;
	position: fixed;
	top:0;

	margin-top: 12px;
		margin-bottom: 15px;
	padding: 10px 10px;
	box-sizing: border-box;
	
		background: white;
}
.navbar-header a{
	padding-top: 15px;
}

@media(max-width: 768px){
	.navbar-inverse .navbar-brand img{
	display: block;
	width: 25%;
	height:28px;
	background:black ;
	position: fixed;
	top:0;

	margin-top: 12px;
		margin-bottom: 12px;
	padding: 0px 0px;
	box-sizing: border-box;
	
		background: white;}
.navbar-header .navabar-brand a{
	padding-top: 0px;
}
}

.footer-main{
	width:100%;
	height: auto;
	margin: auto;
	background:#272727;
	padding: 20px 0px;
}

.logo{
	margin-left: 200px;
	height:60px;
	width: 200px; 
	background-color: rgba(0,0,0,0);
	border: none;
}


.jumbotron h1{
	padding-top:20px;
	padding-bottom: 0px; 
	font-family: 'Exo', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 5em;
}

.jumbotron h4{
	text-align: center;
}

nav li a {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: white;

}


.jumbotron{
	background-color: white;
}


.navbar-inverse{
	background-color: black;	
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
	padding: 30px;
}

.navbar-inverse .navbar-brand img{
		display: block;
	width: 15%;
	height:60px;
	background:black ;
	position: fixed;
	top:0;

	margin-top: 12px;
		margin-bottom: 15px;
	padding: 10px 10px;
	box-sizing: border-box;
	
		background: white;
}
.navbar-header a{
	padding-top: 15px;
}

@media(max-width: 768px){
	.navbar-inverse .navbar-brand img{
	display: block;
	width: 25%;
	height:28px;
	background:black ;
	position: fixed;
	top:0;

	margin-top: 12px;
		margin-bottom: 12px;
	padding: 0px 0px;
	box-sizing: border-box;
	
		background: white;}
.navbar-header .navabar-brand a{
	padding-top: 0px;
}
}

.nfooter{
	background-color: black;
}

.nfooter .thumbnail{
	background: rgba(0,0,0,0.2); 
	border: none; 
	margin-bottom: 0px; 
}

.nfooter .menu1 p{
	padding-top: 6px;
	color: white;
	font-size: 12px;
	text-align: center;
	margin-bottom: 2px;
	}
.nfooter .menu1 hr{
	margin-bottom: 12px;
	margin-top: 12px;
	}

.nfooter .menu1 ul{
	list-style-type: none;
	margin:0px;
	padding:20px 0px;
	text-align:left;
	 }
.nfooter .menu1 ul li{
	margin: 0px 20px;
}

.nfooter .menu1 ul li a{

	text-decoration: none;
	font-size: 13px;
	font-weight: 500;
	color:#fff;

	font-family: 'Lato', sans-serif;
}
.nfooter .menu1 ul li a:hover{
	background: rgba(0,0,0,0.1);
}


.nfooter .menu2 h2{
	padding-top: 18px;
	padding-left:20px; 
	color: white;
	font-size: 16px;
	/*text-align: center;*/
	margin-bottom: 2px;
	}
.nfooter .menu2 p{
	color: white;
	font-size: 14px;
	padding-left:20px;
	/*text-align: center;*/
	margin-bottom: 2px;
	}

.nfooter .menu2 .socialicons p{
	padding-top: 30px;
	font-size: 16px;
}	
.nfooter .menu2 .socialicons hr{
	margin-bottom: 08px;
	margin-top: 08px;
	}

.nfooter .menu2 .socialicons ul{
	margin:0px;
	padding: 10px;
	text-align: center;
}


.nfooter .menu2 .socialicons ul li{
	/*display:inline-block;*/
	list-style: none;
	display: inline-block;
	margin: 0px 10px;
	width:50px;
	height:50px;
	margin:5px 10px;
	border-radius:50%;
	background-color: lightgrey;	
}

.nfooter .menu2 .socialicons ul li a{
	padding-top: 10px;
	color:black;
	font-size: 15px;
	display: block;
}

.nfooter .menu3 p{
	padding: 10px 20px 20px 20px;
	text-align:left;
	font-size: 15px;
	color: white; 
}

.nfooter .menu3 h2{
	font-size: 18px;
	padding: 18px 20px 0px 20px;
	text-align:left;
	color: white; 
}

.nfooter .menu3 .loc{
	margin-left: 20px;
	margin-top: 20px;
}

.footer-bottom{
	width:100%;
	height:auto;
	margin:auto;
	background-color:lightgrey;	
	padding: 5px;
	text-align: center;
	font-family: 'Lato',sans-serif;
	font-weight: 600px;
	padding-bottom: 0.1px; 
}
/*----------------*/
@media(max-width: 768px){
    .img-slider{
		height:400px;
		width:100%;
		max-width:100%;
		max-height:100%;animation-name: smallslider;
    
	}
	@keyframes smallslider{
		0%{background-image:url("images/s1.jpg");}
		25%{background-image:url("images/2.jpg");}
		50%{background-image:url("images/3.jpg");}
		75%{background-image:url("images/4.jpg");}
		100%{background-image:url("images/1.jpg");}  
	}
		
}
.img-slider{
	margin-top:70px;
	height: auto;
    min-height: 100vh;
    min-width: 100%;
	background-position: center;
	background-size: cover;
    background-image:url("images/1.jpg");
    animation-name: slider;
    animation-duration:16s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

@keyframes slider{
    0%{background-image:url("images/1.jpg");}
    25%{background-image:url("images/2.jpg");}
    50%{background-image:url("images/3.jpg");}
    75%{background-image:url("images/4.jpg");}
    100%{background-image:url("images/1.jpg");}  
}
@media(max-width: 768px){
    .img-slider{
		height:400px;
		width:100%;
		max-width:100%;
		max-height:100%;animation-name: smallslider;
    
	}
	@keyframes smallslider{
		0%{background-image:url("images/s1.jpg");}
		25%{background-image:url("images/s1.jpg");}
		50%{background-image:url("images/s1.jpg");}
		75%{background-image:url("images/4.jpg");}
		100%{background-image:url("images/1.jpg");}  
	}
		
}

.content1 .jumbotron p{
	opacity:0.8;
	animation-name:fade;
	animation-duration: 3s;
	animation-fill-mode: forward;
	font-size: 16px;
	color:darkgreen;
	transition-property: color,font-size;
	transition-duration: 1s;
}

.content1 .jumbotron p:hover{
	color:black;
	font-size:18px;
}


.content1 .jumbotron h2{
	font-family: 'Slabo 27px', serif;
	animation-name:fade;
	animation-duration: 3s;
	animation-fill-mode: forward;
	transition:font-size;
	transition-duration: 1s; 
}
.content1 .jumbotron h2:hover{
	font-size:35px;
}


.content1 .jumbotron img{
	z-index: -1;
}


.content1 .jumbotron {
	background:white
}

.content1 .jumbotron .btn{
	background-color: white;
	border: #007bff 1px solid;
	color: #007bff;
	opacity:1;
	padding:1rem 2rem;
	margin-bottom:5px; 
	justify-content: center;
	animation-name: fade;
    animation-duration:3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration:1s;
}

@keyframes fade{
    0% {opacity:0}
    100%{opacity:1}
}

.btn:hover{
    transform:rotateY(180deg);
    /*transform:rotateX(180deg);*/ 
}
